html, body{
    font-family: vazir;
    font-size: 16px;
}

pre{
    direction: ltr;
    text-align: left;
    background-color: #eee;
    padding: 5px;
}

.min-height-800px{
    min-height: 800px;
}

/*------------------------------------------------------------------
              Card styles
--------------------------------------------------------------------*/
.card-text{
    font-size: 14px;
}

/*------------------------------------------------------------------
              Form-control styles
--------------------------------------------------------------------*/
.form-control:focus {
    border-color: #e3e5e7;
    box-shadow: 0 0 3px .2rem rgba(124, 126, 128, 0.3);
}
.has-error{
    background-color: #f8e8e8;
    padding: 0.3rem 0;
    color: #710f0f;
}
.has-error .form-control{
    border: 1px solid #f9d4d4;
}
.has-error .form-control:focus {
    box-shadow: 0 0 3px .2rem rgba(252, 107, 107, 0.3);
}